@model ProyectoPrograV.Models.Solicitud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mecanicos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mecanicos.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSolicitud }) |
    @Html.ActionLink("Back to List", "Index")
</p>
