@model IEnumerable<ProyectoPrograV.Models.Solicitudes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMecanicos.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                <form action="@Url.Content("~/Mecanicos/ActualizarEstado")"><button type="submit" class="btn btn-success">Aceptar</button></form>
                
            </td>
        </tr>
    }
</table>